<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>qlq</title>
	</head>
	<body>
		<h1>en la pagina de about</h1>
		<a href="/">Inicio</a>
        <br>
        <a href="/about/">Sobre nosotros</a>
        <br>
        <a href=""> idk brother</a>
	</body>
</html>